@model IEnumerable<DoAnQLNS.Models.DangNhap>
@{
    ViewBag.Title = "DANH SÁCH ĐĂNG NHẬP";
}

<div class="row-fluid">
    @using (Html.BeginForm("DangNhap", null, FormMethod.Get))
    {
        <div class="span12">
            <div class="row-fluid">
                <a class="btn btn-primary" style="margin-bottom:5px" data-modal="" href="/DangNhap/Create" id="btnCreate">Tạo mới</a>
            </div>

            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Họ tên nhân viên</th>
                        <th>Tên đăng nhập</th>
                        <th>Mật khẩu</th>
                        <th>Quyền</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NhanVien.HoTen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenDangNhap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MatKhau)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quyen)
                            </td>
                            <td>
                                <div class="hidden-phone visible-desktop action-buttons">
                                    @Html.Raw("<a class='green'  data-modal='' href='/DangNhap/Edit/" + item.IDDangNhap + "' id='" + item.IDDangNhap + "' title='Sửa thông tin'><i class='icon-pencil bigger-130'></i> </a>")
                                    @Html.Raw("<a class='red'  data-modal='' href='/DangNhap/Delete/" + item.IDDangNhap + "' id='" + item.IDDangNhap + "' title='Xóa thông tin'><i class='icon-trash bigger-130'></i> </a>")
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
@section scripts{
    @System.Web.Optimization.Scripts.Render("~/assets/js/phones.js")
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>

            </div>
        </div>
    </div>
</div>


