@model DoAnQLNS.Models.ChucVu

@{
    ViewBag.Title = "Tạo Mới";
}

<h2>THÊM MỚI CHỨC VỤ</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TenChucVu, new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenChucVu)
                @Html.ValidationMessageFor(model => model.TenChucVu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa)
                @Html.ValidationMessageFor(model => model.MoTa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhuCap, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhuCap)
                @Html.ValidationMessageFor(model => model.PhuCap)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo mới" class="btn btn-sm mybuttonSubmit" />
            </div>
        </div>
    </div>
}
<div>
    <div class="col-md-offset-2 col-md-10">
        <button class="mybuttonBack">@Html.ActionLink("Trở về lại trang danh sách chức vụ", "Index")</button>
    </div>
</div>



