@model DoAnQLNS.Models.ChucVu

@{
    ViewBag.Title = "Delete";
}


<div class="mywarningMessage"><h2>Bạn có chắc chắn là bạn sẽ xóa chức vụ này khỏi cơ sở dữ liệu không? Sau khi xóa thì sẽ không phục hồi lại được!!</h2></div>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        
        <dt class="form-group">
            @Html.DisplayNameFor(model => model.TenChucVu)
        </dt>

        <dd class="form-group">
            @Html.DisplayFor(model => model.TenChucVu)
        </dd>

        <dt class="form-group">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd class="form-group">
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt class="form-group">
            @Html.DisplayNameFor(model => model.PhuCap)
        </dt>

        <dd class="form-group">
            @Html.DisplayFor(model => model.PhuCap)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            <button class="btn btn-default">@Html.ActionLink("Trở về trang danh sách chức vụ", "DSCV")</button> 
        </div>
    }
</div>
