@model IEnumerable<DoAnQLNS.Models.ChucVu>

@{
    ViewBag.Title = "DANH SÁCH CHỨC VỤ";
}

<div class="row-fluid">
    <div class="span12">
        <p>
            @Html.ActionLink("Thêm mới", "Create")
        </p>
        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID Chức Vụ</th>
                    <th>Tên Chức Vụ</th>
                    <th>Mô Tả</th>
                    <th>Phụ Cấp</th>
                    
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.IDChucVu
                        </td>
                        <td>
                            @item.TenChucVu
                        </td>
                        <td>
                            @item.MoTa
                        </td>
                        <td>
                            @item.PhuCap
                        </td>
                        
                        <td>
                            <div class="hidden-phone visible-desktop btn-group">
                                <button class="btn btn-mini btn-info">
                                    <i class="icon-edit bigger-120">@Html.ActionLink("Sửa", "Edit", new { id = item.IDChucVu })</i>
                                </button>
                                <button class="btn btn-mini btn-danger">
                                    <i class="icon-trash bigger-120">@Html.ActionLink("Xóa", "Delete", new { id = item.IDChucVu })</i>
                                </button>

                            </div>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.IDNhanVien }) |
                                @Html.ActionLink("Details", "Details", new { id = item.IDNhanVien }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.IDNhanVien })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!--/span-->
</div>
