@model DoAnQLNS.Models.ChiTietKhenThuong

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            <h4 class="header green lighter bigger">
                <i class="icon-edit bigger-150"></i>
                Chỉnh sửa chi tiết khen thưởng
            </h4>

            <div class="space-6"></div>

            @*<div class="form-group">
                <label class="text-info">Tên hợp đồng: </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.IDHopDong, new { @class = "span12" })
                    
                    <div>
                        @Html.ValidationMessageFor(m => m.IDHopDong)
                    </div>
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.IDHopDong, "Mã hợp đồng:", new { @class = "text-info" })
                <div class="col-sm-9">
                    @Html.DropDownList("IDHopDong", String.Empty)
                    <div>
                        @Html.ValidationMessageFor(model => model.IDHopDong)
                    </div>

                </div>
            </div>

            @*<div class="form-group">
                <label class="text-info">Mã khen thưởng: </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.IDKhenThuong, new { @class = "span12" })
                    
                    <div>
                        @Html.ValidationMessageFor(m => m.IDKhenThuong)
                    </div>
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.IDKhenThuong, "Tên khen thưởng", new { @class = "text-info" })
                <div class="col-sm-9">
                    @Html.DropDownList("IDKhenThuong", String.Empty)
                    <div>
                        @Html.ValidationMessageFor(model => model.IDKhenThuong)
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="text-info">Ngày quyết định: </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.NgayQuyetDinh, new { @class = "span12" })
                    <div>
                        @Html.ValidationMessageFor(m => m.NgayQuyetDinh)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="text-info">Nội dung: </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.NoiDung, new { @class = "span12" })
                    <div>
                        @Html.ValidationMessageFor(m => m.NoiDung)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="text-info">Quyết định số: </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.QuyetDinhSo, new { @class = "span12" })
                    <div>
                        @Html.ValidationMessageFor(m => m.QuyetDinhSo)
                    </div>
                </div>
            </div>
        </div>

    </div>            <!-- /modal-body -->
    <div class="modal-footer">

        <button type="submit" class="btn btn-success"> Lưu</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true"> Đóng</button>
    </div>
}