@model DoAnQLNS.Models.HoDongLaoDong

@{
    ViewBag.Title = "Delete";
}

<div class="mywarningMessage"><h2>Bạn có chắc chắn là bạn sẽ xóa chức vụ này khỏi cơ sở dữ liệu không? Sau khi xóa thì sẽ không phục hồi lại được!!</h2></div>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt class="form-group">
            @Html.DisplayNameFor(model => model.NgayKy)
        </dt>

        <dd class="form-group">
            @Html.DisplayFor(model => model.NgayKy)
        </dd>

        <dt class="form-group">
            @Html.DisplayNameFor(model => model.NgayHieuLuc)
        </dt>

        <dd class="form-group">
            @Html.DisplayFor(model => model.NgayHieuLuc)
        </dd>

        <dt class="form-group">
            @Html.DisplayNameFor(model => model.NgayHetHan)
        </dt>

        <dd class="form-group">
            @Html.DisplayFor(model => model.NgayHetHan)
        </dd>

        <dt class="form-group">
            @Html.DisplayNameFor(model => model.QuyetDinhSo)
        </dt>

        <dd class="form-group">
            @Html.DisplayFor(model => model.QuyetDinhSo)
        </dd>

        <dt class="form-group">
            @Html.DisplayNameFor(model => model.NoiDungTomTat)
        </dt>

        <dd class="form-group">
            @Html.DisplayFor(model => model.NoiDungTomTat)
        </dd>

        <dt class="form-group">
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd class="form-group">
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt class="form-group">
            @Html.DisplayNameFor(model => model.LoaiHopDong.TenLoai)
        </dt>

        <dd class="form-group">
            @Html.DisplayFor(model => model.LoaiHopDong.TenLoai)
        </dd>

        <dt class="form-group">
            @Html.DisplayNameFor(model => model.NhanVien.HoTen)
        </dt>

        <dd class="form-group">
            @Html.DisplayFor(model => model.NhanVien.HoTen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <button class="btn btn-default">@Html.ActionLink("Trở về trang danh sách hợp đồng", "DSHDLD")</button>
        </div>
    }
</div>
