@model IEnumerable<DoAnQLNS.Models.HoDongLaoDong>

@{
    ViewBag.Title = "Index";
}

<h2>DANH SÁCH HỢP ĐỒNG LAO ĐỘNG</h2>
<hr />

<div class="row-fluid">
    <div class="span12">
        <p>
            @Html.ActionLink("Tạo mới hợp đồng", "Create")
        </p>
        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Ngày Ký</th>
                    <th>Ngày Hiệu Lực</th>
                    <th>Ngày Hết Hạn</th>
                    <th>Quyết Định Số</th>
                    <th>Nội Dung Tóm Tắt</th>
                    <th>Tình Trạng Hợp Đồng</th>
                    <th>Tên Loại Hợp Đồng</th>
                    <th>Họ và Tên Nhân Viên</th>

                    <th>Thao Tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.NgayKy
                        </td>
                        <td>
                            @item.NgayHieuLuc
                        </td>
                        <td>
                            @item.NgayHetHan
                        </td>
                        <td>
                            @item.QuyetDinhSo
                        </td>
                        <td>
                            @item.NoiDungTomTat
                        </td>
                        <td>
                            @item.TinhTrang
                        </td>
                        <td>
                            @item.LoaiHopDong.TenLoai
                        </td>
                        <td>
                            @item.NhanVien.HoTen
                        </td>
                        <td>
                            <div class="hidden-phone visible-desktop btn-group">
                                <button class="btn btn-mini btn-info">
                                    <i class="icon-edit bigger-120">@Html.ActionLink("Sửa", "Edit", new { id = item.IDHopDong })</i>
                                </button>
                                <button class="btn btn-mini btn-danger">
                                    <i class="icon-trash bigger-120">@Html.ActionLink("Xóa", "Delete", new { id = item.IDHopDong })</i>
                                </button>

                            </div>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!--/span-->
</div>

