@model DoAnQLNS.Models.HoDongLaoDong

@{
    ViewBag.Title = "Edit";
}

<h2>CHỈNH SỬA HỢP ĐỒNG LAO ĐỘNG</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IDHopDong)

        <div class="form-group">
            @Html.LabelFor(model => model.IDNhanVien, "Tên Nhân Viên", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDNhanVien", String.Empty)
                @Html.ValidationMessageFor(model => model.IDNhanVien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayKy, "Ngày Ký", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayKy)
                @Html.ValidationMessageFor(model => model.NgayKy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayHieuLuc, "Ngày Hiệu Lực", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayHieuLuc)
                @Html.ValidationMessageFor(model => model.NgayHieuLuc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayHetHan, "Ngày Hết Hạn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayHetHan)
                @Html.ValidationMessageFor(model => model.NgayHetHan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuyetDinhSo, "Quyết Định Số", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuyetDinhSo)
                @Html.ValidationMessageFor(model => model.QuyetDinhSo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoiDungTomTat, "Nội Dung Tóm Tắt", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoiDungTomTat)
                @Html.ValidationMessageFor(model => model.NoiDungTomTat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDLoaHopDong, "Tên Loại Hợp Đồng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDLoaHopDong", String.Empty)
                @Html.ValidationMessageFor(model => model.IDLoaHopDong)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TinhTrang, "Tình Trạng Hợp Đồng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TinhTrang)
                @Html.ValidationMessageFor(model => model.TinhTrang)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu thay đổi" class="btn btn-default mybuttonSubmit" />
            </div>
        </div>
    </div>
}

<div class="col-md-offset-2 col-md-10">
    <button class="mybuttonBack">@Html.ActionLink("Trở lại trang danh sách hợp đồng", "DSHDLD")</button>
</div>
