@model DoAnQLNS.Models.NhanVien

@{
    ViewBag.Title = "Create";
}

<h2>THÊM MỚI NHÂN VIÊN</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.IDNhanVien, "Mã nhân viên", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDNhanVien)
                @Html.ValidationMessageFor(model => model.IDNhanVien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoTen, "Họ và tên", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoTen)
                @Html.ValidationMessageFor(model => model.HoTen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CMND, "Số CMND", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CMND)
                @Html.ValidationMessageFor(model => model.CMND)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GioiTinh, "Giới tính", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GioiTinh)
                @Html.ValidationMessageFor(model => model.GioiTinh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgaySinh, "Ngày sinh", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgaySinh)
                @Html.ValidationMessageFor(model => model.NgaySinh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoiSinh, "Nơi sinh", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoiSinh)
                @Html.ValidationMessageFor(model => model.NoiSinh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QueQuan, "Quê quán", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QueQuan)
                @Html.ValidationMessageFor(model => model.QueQuan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChi, "Địa chỉ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChi)
                @Html.ValidationMessageFor(model => model.DiaChi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh, "Hình ảnh", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HinhAnh)
                @Html.ValidationMessageFor(model => model.HinhAnh)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo mới" class="btn btn-sm mybuttonSubmit" />
            </div>
        </div>
    </div>
}

    <div class="col-md-offset-2 col-md-10">
        <button class="mybuttonBack">@Html.ActionLink("Trở về lại trang danh sách nhân viên", "DSNV")</button>
    </div>



