@model DoAnQLNS.Models.BangTuKhai

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BẢNG TỰ KHAI</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.IDNhanVien, "Tên nhân viên", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDNhanVien", String.Empty)
                @Html.ValidationMessageFor(model => model.IDNhanVien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TuNgay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TuNgay)
                @Html.ValidationMessageFor(model => model.TuNgay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DenNgay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DenNgay)
                @Html.ValidationMessageFor(model => model.DenNgay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoiDung, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoiDung)
                @Html.ValidationMessageFor(model => model.NoiDung)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo mới" class="btn btn-sm mybuttonSubmit" />
            </div>
        </div>
    </div>
}
<div>
    <div class="col-md-offset-2 col-md-10">
        <button class="mybuttonBack">@Html.ActionLink("Trở về lại trang danh sách tự khai", "Index")</button>
    </div>
</div>
