@model DoAnQLNS.Models.BangTuKhai

@{
    ViewBag.Title = "Edit";
}

<h2>SỬA THÔNG TIN TỰ KHAI</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IDTuKhai)

        <div class="form-group">
            @Html.LabelFor(model => model.IDNhanVien, "Têm nhân viên", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDNhanVien", String.Empty)
                @Html.ValidationMessageFor(model => model.IDNhanVien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TuNgay, "Từ ngày", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TuNgay)
                @Html.ValidationMessageFor(model => model.TuNgay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DenNgay, "Đến ngày", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DenNgay)
                @Html.ValidationMessageFor(model => model.DenNgay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoiDung, "Nội dung", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoiDung)
                @Html.ValidationMessageFor(model => model.NoiDung)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu thay đổi" class="btn btn-default mybuttonSubmit" />
            </div>
        </div>
    </div>
}

<div class="col-md-offset-2 col-md-10">
    <button class="mybuttonBack">@Html.ActionLink("Trở về trang danh sách tự khai", "DSTK")</button>
</div>
