@model DoAnQLNS.Models.NhanVien_ChucVu

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>NhanVien_ChucVu</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.IDHopDong, "IDHopDong", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDHopDong", String.Empty)
                @Html.ValidationMessageFor(model => model.IDHopDong)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDChucVu, "IDChucVu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDChucVu", String.Empty)
                @Html.ValidationMessageFor(model => model.IDChucVu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayBatDau, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayBatDau)
                @Html.ValidationMessageFor(model => model.NgayBatDau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayKetThuc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayKetThuc)
                @Html.ValidationMessageFor(model => model.NgayKetThuc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuyetDinhSo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuyetDinhSo)
                @Html.ValidationMessageFor(model => model.QuyetDinhSo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TinhTrang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TinhTrang)
                @Html.ValidationMessageFor(model => model.TinhTrang)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
