@model DoAnQLNS.Models.NhanVien_ChucVu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NhanVien_ChucVu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuyetDinhSo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuyetDinhSo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChucVu.TenChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu.TenChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoDongLaoDong.IDNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoDongLaoDong.IDNhanVien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDNVCV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
