@model DoAnQLNS.Models.NhanVien_KyNang
@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IDNhanVien)
    <div class="modal-body">
        <div class="form-horizontal">
            <h4 class="header green lighter bigger">
                <i class="icon-edit bigger-150"></i>
                Chỉnh sửa kỹ năng nhân viên
            </h4>
            <div class="space-6"></div>
            @Html.HiddenFor(model => model.IDNhanVien)
            <div class="form-group">
                <label class="text-info">Tên nhân viên: </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.NhanVien.HoTen, new { @class = "span12" })
                    <div>
                        @Html.ValidationMessageFor(m => m.NhanVien.HoTen)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="text-info">Kỹ năng: </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.KyNang.TenKyNang, new { @class = "span12" })
                    <div>
                        @Html.ValidationMessageFor(m => m.KyNang.TenKyNang)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="text-info">Kinh nghiệm: </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.SoNamKinhNghiem, new { @class = "span12" })
                    <div>
                        @Html.ValidationMessageFor(m => m.SoNamKinhNghiem)
                    </div>
                </div>
            </div>
        </div>
    </div>            <!-- /modal-body -->
    <div class="modal-footer">
        <button type="submit" class="btn btn-success"> Lưu</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true"> Đóng</button>
    </div>
}